@charset "UTF-8";
div.main.user.msg {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  color: tomato;
  text-align: center;
  padding: 10px;
  /* display: none; */
}
section table.main.user {
  width: 100%;
  height: 50px;
  /* margin: 20px auto; */
  font-size: 25px;
  font-weight: bolder;
}
section table.main.user tr {
}
section table.main.user tr td {
  height: 35px;
  text-align: left;
}
section table.main.user tr td input {
  height: 35px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

button.main.save.user {
  width: 100%;
}
